.header__left
    i#menu.material-icons menu
    img(src='https://www.youtube.com/about/static/svgs/icons/brand-resources/YouTube-logo-full_color_light.svg?cache=72a5d9c' alt='')
.header__search
    form(action='')
        input(type='text' placeholder='Search')
        button
        i.material-icons search
.header__icons
    i.material-icons.display-this search
    i.material-icons videocam
    i.material-icons apps
    i.material-icons notifications
    i.material-icons.display-this account_circle