.videos
    h1 Recommended
    .videos__container
        .video
            .video__thumbnail
                img(src='https://img.youtube.com/vi/PpXUTUXU7Qc/maxresdefault.jpg' alt='')
            .video__details
                .author
                    img(src='http://aninex.com/images/srvc/web_de_icon.png' alt='')
                .title
                    h3 | Top 5 Programming Languages to Learn in 2021 | Best Programming Languages to Learn
                    a(href='') FutureCoders
                    span 10M Views &bull; 3 Months Ago
        .video
            .video__thumbnail
                img(src='https://img.youtube.com/vi/YpTmcCBBdTE/maxresdefault.jpg' alt='')
            .video__details
                .author
                    img(src='http://aninex.com/images/srvc/web_de_icon.png' alt='')
                .title
                    h3 Build A Password Generator with React JS - Beginners Tutorial
                    a(href='') FutureCoders
                    span 10M Views &bull; 3 Months Ago
        .video
            .video__thumbnail
                img(src='https://img.youtube.com/vi/YpTmcCBBdTE/maxresdefault.jpg' alt='')
            .video__details
                .author
                    img(src='http://aninex.com/images/srvc/web_de_icon.png' alt='')
                .title
                    h3 Build A Password Generator with React JS - Beginners Tutorial
                    a(href='') FutureCoders
                    span 10M Views &bull; 3 Months Ago
        .video
            .video__thumbnail
                img(src='https://img.youtube.com/vi/YpTmcCBBdTE/maxresdefault.jpg' alt='')
            .video__details
                .author
                    img(src='http://aninex.com/images/srvc/web_de_icon.png' alt='')
                .title
                    h3 Build A Password Generator with React JS - Beginners Tutorial
                    a(href='') FutureCoders
                    span 10M Views &bull; 3 Months Ago