.sidebar
    .sidebar__categories
        .sidebar__category
            i.material-icons home
            span Home
        .sidebar__category
            i.material-icons local_fire_department
            span Trending
        .sidebar__category
            i.material-icons subscriptions
            span Subcriptions
    hr
    .sidebar__categories
        .sidebar__category
            i.material-icons library_add_check
            span Library
        .sidebar__category
            i.material-icons history
            span History
        .sidebar__category
            i.material-icons play_arrow
            span Your Videos
        .sidebar__category
            i.material-icons watch_later
            span Watch Later
        .sidebar__category
            i.material-icons thumb_up
            span Liked Videos
    hr