@import '../base/variables.scss';
.sidebar {
	height: 100%;
	width: 230px;
	background-color: $background-color_1;
	overflow-y: scroll;
	&::-webkit-scrollbar {
		display: none;
	}
}
.sidebar__categories {
	width: 100%;
	display: flex;
	flex-direction: column;
	margin-bottom: 15px;
	margin-top: 15px;
}
.sidebar__category {
	display: flex;
	align-items: center;
	padding: 12px 25px;
	span {
		margin-left: 15px;
	}
	&:hover {
		background: #e5e5e5;
		cursor: pointer;
	}
}
hr {
	height: 1px;
	background-color: $background-color_2;
	border: none;
}